In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
import warnings

In [2]:
df=pd.read_csv('StudentsPerformance.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
X=df.drop(columns=['math score'],axis=1)
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [7]:
y=df['math score']

In [8]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [10]:
print("categories in 'gender' variable:",end=" ")
print(df['gender'].unique())

print("categories in 'race/ethnicity' variable:",end=" ")
print(df['race/ethnicity'].unique())

print("categories in 'parental level of education' variable:",end=" ")
print(df['parental level of education'].unique())

print("categories in 'lunch' variable:",end=" ")
print(df['lunch'].unique())

print("Categories in 'test prepration course' variable: ",end=" ")
print(df['test preparation course'].unique())

categories in 'gender' variable: ['female' 'male']
categories in 'race/ethnicity' variable: ['group B' 'group C' 'group A' 'group D' 'group E']
categories in 'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in 'lunch' variable: ['standard' 'free/reduced']
Categories in 'test prepration course' variable:  ['none' 'completed']

In [11]:
num_feature=X.select_dtypes(exclude='object').columns
cat_feature=X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_feature),
        ("StandardScaler",numeric_transformer,num_feature)
    ]
)

In [12]:
X=preprocessor.fit_transform(X)

In [13]:
X.shape

(1000, 19)

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape,X_test.shape

((800, 19), (200, 19))

In [16]:
def evaluate_model(true,pred):
    mse=mean_squared_error(true,pred)
    mae=mean_absolute_error(true,pred)
    rmse=np.sqrt(mean_squared_error(true,pred))
    r2=r2_score(true,pred)
    return mse,mae,rmse,r2

In [19]:
models={
    "LinearRegression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "XGBRegressor":XGBRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor()
}

model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    model_train_mse,model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mse,model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for Training set')
    print("- Mean Squared Error: {:.4f}".format(model_train_mse))
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Mean Squared Error: {:.4f}".format(model_test_mse))
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

LinearRegression
Model performance for Training set
- Mean Squared Error: 28.3349
- Root Mean Squared Error: 5.3231
- Mean Absolute Error: 4.2667
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Mean Squared Error: 29.0952
- Root Mean Squared Error: 5.3940
- Mean Absolute Error: 4.2148
- R2 Score: 0.8804
===================================


Lasso
Model performance for Training set
- Mean Squared Error: 43.4784
- Root Mean Squared Error: 6.5938
- Mean Absolute Error: 5.2063
- R2 Score: 0.8071
----------------------------------
Model performance for Test set
- Mean Squared Error: 42.5064
- Root Mean Squared Error: 6.5197
- Mean Absolute Error: 5.1579
- R2 Score: 0.8253
===================================


Ridge
Model performance for Training set
- Mean Squared Error: 28.3378
- Root Mean Squared Error: 5.3233
- Mean Absolute Error: 4.2650
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Mean Squared Error: 29.0563
- Root Mean Squared Error: 5.3904
- Mean Absolute Error: 4.2111
- R2 Score: 0.8806
===================================


KNeighborsRegressor
Model performance for Training set
- Mean Squared Error: 32.5710
- Root Mean Squared Error: 5.7071
- Mean Absolute Error: 4.5155
- R2 Score: 0.8555
----------------------------------
Model performance for Test set
- Mean Squared Error: 52.6288
- Root Mean Squared Error: 7.2546
- Mean Absolute Error: 5.6240
- R2 Score: 0.7837
===================================


DecisionTreeRegressor
Model performance for Training set
- Mean Squared Error: 0.0781
- Root Mean Squared Error: 0.2795
- Mean Absolute Error: 0.0187
- R2 Score: 0.9997
----------------------------------
Model performance for Test set
- Mean Squared Error: 60.8450
- Root Mean Squared Error: 7.8003
- Mean Absolute Error: 6.1950
- R2 Score: 0.7500
===================================


RandomForestRegressor
Model performance for Training set
- Mean Squared Error: 5.2897
- Root Mean Squared Error: 2.2999
- Mean Absolute Error: 1.8317
- R2 Score: 0.9765
----------------------------------
Model performance for Test set
- Mean Squared Error: 36.3369
- Root Mean Squared Error: 6.0280
- Mean Absolute Error: 4.6824
- R2 Score: 0.8507
===================================


XGBRegressor
Model performance for Training set
- Mean Squared Error: 1.0146
- Root Mean Squared Error: 1.0073
- Mean Absolute Error: 0.6875
- R2 Score: 0.9955
----------------------------------
Model performance for Test set
- Mean Squared Error: 41.9037
- Root Mean Squared Error: 6.4733
- Mean Absolute Error: 5.0577
- R2 Score: 0.8278
===================================


AdaBoostRegressor
Model performance for Training set
- Mean Squared Error: 34.1816
- Root Mean Squared Error: 5.8465
- Mean Absolute Error: 4.7793
- R2 Score: 0.8484
----------------------------------
Model performance for Test set
- Mean Squared Error: 35.7034
- Root Mean Squared Error: 5.9752
- Mean Absolute Error: 4.6586
- R2 Score: 0.8533
===================================

In [21]:
pd.DataFrame({
    'Model Name':model_list,
    'R2_scores':r2_list
}).sort_values('R2_scores',ascending=False)

              Model Name  R2_scores
2                  Ridge   0.880593
0       LinearRegression   0.880433
7      AdaBoostRegressor   0.853277
5  RandomForestRegressor   0.850673
6           XGBRegressor   0.827797
1                  Lasso   0.825320
3    KNeighborsRegressor   0.783722
4  DecisionTreeRegressor   0.749957